body {
    background-image: url(./assets/evil-background.png);
    font-family: 'Evil Eye-Bleed Comic Sans', Sans-Serif;
    width: 100%;
    height: 100%;
}

#heading-to-hell {
    background-color: black ;
    width: 45%;
    color: darkred;
}




